.header {
    width: 100%;
    height: 90px;
    text-align: center;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: rgb(240, 237, 80);
    text-shadow: -1.5px 0 rgb(101, 109, 93), 0 1.5px rgb(101, 109, 93), 1.5px 0 rgb(101, 109, 93), 0 -1.5px rgb(101, 109, 93);
}
