.button {
    width: 120px;      
    &:disabled{
        color:rgb(150, 150, 150);
        cursor: not-allowed;
    }
}

.button-loginForm {
    width: 140px;
    height: 27px;
    border: 1px solid rgb(13, 48, 42);
    background-color: rgb(21, 71, 63);
    color: #F1EBD5;
    font-weight: 100;
    box-shadow: 2px 2px 5px 0px rgb(172, 202, 190);
    &:hover {
        background-color: rgb(125, 182, 172);
        color: rgb(13, 48, 42);
        font-weight: 100;
    }
    
    &:disabled{
        color:rgb(150, 150, 150);
        cursor: not-allowed;
    }
}
.clicked {
    height: 360px;
}

.controller-button {
    margin: 0 10px 0 10px;
    margin-top: 2px;
    width: 73px;
    font-family: 'KoHo', sans-serif;
    color: rgb(238, 238, 198);
    background: rgb(62, 70, 55);
    border: 1.5px solid black;
    box-shadow: 0.5px 0.5px 2px 1px rgb(247, 245, 175);
    border-radius: 4px;
    &:hover {
        background: rgb(240, 237, 80);
        color: rgb(62, 70, 55);
        border: 1.5px solid rgb(161, 160, 84);
    }
    &:disabled{
        color:rgb(180, 180, 180);
        cursor: not-allowed;
        background: none;
        border: 1.5px solid rgb(84, 161, 84);
    }
}

.infoGameRules-button {
    margin: 0 10px 0 540px;
    margin-top: 2px;
    width: 73px;
    height: 30px;
    font-family: 'KoHo', sans-serif;
    color: rgb(238, 238, 198);
    background: rgb(62, 70, 55);
    border: 1.5px solid black;
    box-shadow: 0.5px 0.5px 2px 1px rgb(247, 245, 175);
    border-radius: 4px;
    &:hover {
        background: rgb(240, 237, 80);
        color: rgb(62, 70, 55);
        border: 1.5px solid rgb(161, 160, 84);
    }
    &:disabled{
        color:rgb(180, 180, 180);
        cursor: not-allowed;
        background: none;
        border: 1.5px solid rgb(84, 161, 84);
    }
}
