.dropdown-controller {
    background: white;
    // width: 121px;
    height: 19px;
    .dropdown-top-controller {
        border: 1px solid rgb(190, 190, 190);
        width: 161px;
        height: 19px;
        display: flex;
        justify-content: space-between;  
    }
    .dropdown-top-active-controller {
        border: 1px solid rgb(190, 190, 190);
        box-shadow: 0px 0px 1px 1px rgb(157, 222, 248);
        width: 161px;
        height: 19px;
        display: flex;
        justify-content: space-between;
    }
    .dropdown-bottom-controller {
        position: absolute;
        background-color: white;
        border: 0.5px solid rgb(190, 190, 190);
        box-shadow: 0px 0px 1px 1px rgb(157, 222, 248);
        font-size: 15px;
        width: 162px;
        >div{
            padding: 3px 0 3px 5px;
            &:hover{
                background-color: rgb(33, 148, 255);
                color: white;
                cursor: context-menu;
            }
        }
    }
}

.dropdown-top-text-controller{
    padding-left: 3px;
    padding-top: 1px;
    width: 139px;
    height: 18px;
    font-size: 15px;
}

img {
    width: 20px;
    height: 20px;
    transform: rotateZ(180deg);
}
