.dropdown-controller {
    background: white;
    // width: 121px;
    height: 19px;
    .dropdown-top-controller {
        border: 1px solid rgb(190, 190, 190);
        width: 171px;
        height: 19px;
        display: flex;
        justify-content: space-between;  
    }
    .dropdown-top-active-controller {
        border: 1px solid rgb(190, 190, 190);
        box-shadow: 0px 0px 1px 1px rgb(101, 109, 93);
        width: 171px;
        height: 19px;
        display: flex;
        justify-content: space-between;
    }
    .dropdown-bottom-controller {
        position: absolute;
        background-color: white;
        border: 0.5px solid rgb(190, 190, 190);
        box-shadow: 0px 0px 1px 1px rgb(101, 109, 93);
        font-size: 15px;
        width: 172px;
        font-family: 'KoHo', sans-serif;
        height: 107px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            // width: 0px;  /* Remove scrollbar space */
            // background: transparent;  /* Optional: just make scrollbar invisible */
            display: none;
        }
        >div{
            padding: 3px 0 3px 5px;
            &:hover{
                background-color: rgb(101, 109, 93);
                color: rgb(240, 237, 80);;
                cursor: context-menu;
            }
        }
    }
}

.dropdown-top-text-controller{
    padding-left: 3px;
    padding-top: 1px;
    width: 149px;
    height: 18px;
    font-size: 15px;
    font-family: 'KoHo', sans-serif;
}

img {
    width: 20px;
    height: 20px;
    transform: rotateZ(180deg);
}


